@charset "utf-8";

h1 {
    text-align: center;
    margin: 50vh 0;
}

img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}

p {
    line-height: 1.5;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

.flex {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s;
}

.fade-in.show {
    opacity: 1;
}